<!--The content below is only a placeholder and can be replaced.-->
<app-messages></app-messages>

<a mat-raised-button color="primary" routerLink="content" routerLinkActive="active">Content List</a><br><br>
<a mat-raised-button color="accent" routerLink="content/:id" routerLinkActive="active">This is Something that does something</a><br><br>
<a mat-raised-button color="warn" routerLink="thiswillnotwork" routerLinkActive="active">Invalid page link</a><br><br>

<router-outlet></router-outlet>




